<% provide(:title, 'Update Category') %>
<%= render 'layouts/userheader' %>
<div class="container">
    <div class="row columns">
        <%= render 'layouts/userleftnav' %>
        <div class="span9 rightcontent">
          <b> Edit category</b>
            <%= render 'form' %>

                </div>
    </div>
</div>
