<% provide(:title, 'Categories') %>
<%= render 'layouts/userheader' %>
<div class="container">
    <div class="row">

      <%= render 'layouts/userleftnav' %>
        <div class="span5">
          <b>Categories</b>

          <%= render 'layouts/recipecategories' %>
        <br />
           <%= link_to " Add new  #{image_tag('go.png')}".html_safe, new_recipe_category_path %>
        </div>
    </div>
</div>
