<% provide(:title, 'Add Recipe') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">
      <b> Add new category</b>
      <%= render 'form' %>


    </div>
  </div>
</div>
