<% provide(:title, 'Edit mise-en-place') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">
      <b> Edit mise-en-place</b>

      <%= render 'form' %>



        </div>
      </div>
    </div>
