<div id="recipeingredients">
  <% if @recipe_ingredients.count > 0 %>
      <table class="table table-striped"  >
        <thead>

        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @recipe_ingredients.each do |recipe_ingredient| %>
            <tr>
              <% @ingredient=   @ingredients.where(:id => recipe_ingredient.ingredient_id).first %>
              <td><%= @ingredient.name  %>    </td>
              <td><%= recipe_ingredient.quantity.to_s + "-" + @ingredient.unit%> </td>
              <td><%= link_to image_tag("edit.png"), edit_recipe_ingredient_path(recipe_ingredient,:recipe_id => @recipe.id) %>  </td>
              <td><%= link_to image_tag("delete.png"), recipe_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <%end%>
</div>
