<% provide(:title, "Edit recipe") %>
<%= render 'layouts/userheader' %>

<div class="container">
    <div class="row columns">
        <%= render 'layouts/userleftnav' %>
        <div class="span9 rightcontent">
          <b>Edit recipe</b>
            <%= render 'form' %>


        </div>
    </div>
</div>
