<% provide(:title, "All recipes") %>
<%= render 'layouts/userheader' %>

<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">

      <b> Recipes </b></br>
      <%=render 'recipes' %> </br>
      <%= link_to " Add new  #{image_tag('go.png')}".html_safe, new_recipe_path  %>

    </div>
  </div>
</div>



