<% provide(:title, 'New recipe') %>
 <%= render 'layouts/userheader' %>
 <div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">
      <b>New recipe</b>

          <%= render 'form' %>

    </div>
  </div>
</div>

