<% provide(:title, @user.name) %>
<h1>Welcome <%= @user.name %> </h1>
<h3> Recipes </h3>
<% @user.recipes.each do |rp| %>
 <%= rp.name  %><br/>
<% end %>
<%= link_to  "Add new", new_recipe_path(:user_id => "#{@user.id}")  %>
