<% provide(:title, 'Ingredients') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">
      <b>Ingredients</b>
      <%= render 'ingredients' %>
      <br />

      <%= link_to " Add new  #{image_tag('go.png')}".html_safe, new_ingredient_path %>
    </div>
  </div>
</div>
