<% provide(:title, 'New Ingredient') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">
      <b>Create new ingredient</b>
    <%= render 'form' %>

                       </div>
      </div>
    </div>
