<% provide(:title, 'Ingredient categories') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">
      <b> Ingredient categories</b>

     <%= render 'ingredientcategories' %>
<br />

<%= link_to " Add new  #{image_tag('go.png')}".html_safe, new_ingredient_category_path %>
      </div>
      </div>
    </div>
