
<% provide(:title, 'Add Ingredient Category') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row columns">
    <%= render 'layouts/userleftnav' %>
    <div class="span9 rightcontent">
      <b> Add Ingredient Category</b>

    <%= render 'form' %>



        </div>
      </div>
    </div>
