
<% provide(:title, 'New recipe step') %>
<%= render 'layouts/userheader' %>
<div class="container">
  <div class="row">
    <%= render 'layouts/userleftnav' %>
    <div class="span5">
      <b> New recipe step</b>
<%= render 'form' %>

<%= link_to 'Back', recipes_path(params[:recipe_id]) %>

</div>
      </div>
    </div>
