<div class="span3 leftcontent">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% current_controller = params[:controller] %>
      <% controllers= ["recipe_categories","recipes","ingredient_categories","ingredients"]%>
      <% controllers.each do |controller| %>
          <% if current_controller==controller %>
            <li  class="active">
            <% else %>
              <li>
           <%end%>

            <%= link_to controller.humanize, { :controller => controller } %>
          </li>
      <% end %>


      <!--<li class="active"><a href="#">HTML 4.01</a></li>

      <li class="nav-header">Backend</li>-->
    </ul>
  </div>
</div>
